@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply w-[150px] cursor-pointer text-center border-redprimary border px-4 py-2 text-lg rounded-lg  bg-redprimary text-white font-bold font-Lato hover:bg-redsecondary  focus:outline-none;
    }
    .btn-secondary {
      @apply text-center border-grayprimary border px-4 py-2 text-lg rounded-lg  bg-grayprimary text-white font-bold font-Lato hover:bg-graysecondary  focus:outline-none;
    }
    .btn-secondaryrvs {
      @apply text-center border-grayprimary border px-4 py-2 text-lg rounded-lg  bg-white text-grayprimary font-bold font-Lato hover:bg-graysecondary  focus:outline-none;
    }
    .msgerror{
        @apply text-red-600 text-sm italic;
    }
    .msgsuccess{
        @apply text-green-600 italic;
    }
  }

@layer utilities{
    .col {
        margin: 0 18px;
        box-sizing: border-box;
    }

    .col-1 {
        width: 10%;
    }

    .col-2 {
        width: 20%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: calc(100% / 3);
    }

    .col-6 {
        width: calc(100% / 2 - 12px);
    }

    .col-8 {
        width: calc(100% * 2 / 3);
    }

    .col-9 {
        width: calc(100% * (9/12));
    }

    .col-10 {
        width: calc(100% * (10/12));
    }

    .col-12 {
        width: 100%;
    }
}
